<p id="notice"><%= notice %></p>

<p>
  <strong>Begin date:</strong>
  <%= @weekly_goal.begin_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @weekly_goal.end_date %>
</p>

<p>
  <strong>Fault tolerance:</strong>
  <%= @weekly_goal.fault_tolerance %>
</p>

<p>
  <strong>Momentum:</strong>
  <%= @weekly_goal.momentum %>
</p>

<p>
  <strong>Category:</strong>
  <%= @weekly_goal.category_id %>
</p>

<p>
  <strong>App:</strong>
  <%= @weekly_goal.app_id %>
</p>

<p>
  <strong>Target time min:</strong>
  <%= @weekly_goal.target_time_min %>
</p>

<p>
  <strong>Successful:</strong>
  <%= @weekly_goal.successful %>
</p>

<p>
  <strong>Actual time min:</strong>
  <%= @weekly_goal.actual_time_min %>
</p>

<p>
  <strong>Days goal completed:</strong>
  <%= @weekly_goal.days_goal_completed %>
</p>

<%= link_to 'Edit', edit_weekly_goal_path(@weekly_goal) %> |
<%= link_to 'Back', weekly_goals_path %>
