<%= form_with(model: app, local: true) do |form| %>
  <% if app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :app_name %>
  </div>

  <div class="field">
    <%= form.label :productivity_score %>
    <%= form.number_field :productivity_score, id: :app_productivity_score %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id, id: :app_category_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
